{% extends 'master/base.html' %}
{% block title %}expense list{% endblock title %}

{% block body %}
<a href="{% url 'add_expense' %}" class="btn btn-primary">Add Expense</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SL</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Datetime</th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody>
        
        {% for expense in expense_data %}

        <tr>
            <td>{{forloop.counter}}</td>                
            <td>{{expense.description}}</td>
            <td>{{expense.amount}}</td>
            <td>{{expense.datetime}}</td>
            <td>
                <a href="{% url 'update_expense' expense.id %}" class="badge bg-primary">Edit</a>
                <a href="{% url 'delete_expense' expense.id %}" class="badge bg-danger">Delete</a>
            </td>
        </tr>
            
        {% endfor %}
            
    </tbody>
</table>

{% endblock body %}